*
{
	
	margin : 0; 
	padding : 0;
}

@-webkit-keyframes sliderLeft
{
0% { left : 0%;}
20% { left : 0%;}
25%   { left : 0%;}
45%	{ left : 0%;}
50%	{ left : 0%;}
70% { left : 0%;}
75%	{ left : 0%;}
95%	{ left : 0%;}
100%	{ left : 0%;}
}


#Slider
{
	
max-width : 1000px;
height : 500px;
overflow : hidden;
margin : 0 auto;
border : 20px

}

#Slider figure
{
	position : relative;
	width : 450%
	-webkit-animation : 10s sliderLeft infinite;
}
	
	
	
#Slider figure img 

{
	width : 20%;
	float : left;
}